@CHARSET "UTF-8";
#total_div{
	border:2px solid #2F4050;
	width:400px;
	height:450px;
	position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -65%);
	border-radius:6px;
}
.form_title{
	width:80%;
	margin:5% 10%;
	border-bottom:2px solid #2F4050;
	font-size:30px;
	color:#00668D;
	text-align:center;
}
.form{
	margin:10% 20% 1% 20%;
	text-align:left;
}
input{
	height:45px;
	width:250px;
	border:0px;
	border-bottom:1.7px solid #00668D;
	border-radius:2px;
	outline:none;
	margin:0;
	padding-left:5px;
	margin-bottom:10px;
	font-size:20px;
}
#register_OK_button,#register_OK_button:link,#register_OK_button:visited,#register_OK_button:hover,#register_OK_button:active{
	background:#00668D;
	border:1px #00668D solid;
	outline:none;
	border-radius:5px;
	margin-top:5%;
	height:40px;
	width:103%;
	color:white;
}
#register_OK_button:hover,#register_OK_button:active{
	opacity:0.8;
}
.had_register{
	font-size:13px;
	color:#9D9D9D;
	margin-left:35%;
}
.log_in{
	color:#00668D;
	text-decoration:none;
}
.log_in:hover,.log_in:active{
	color:black;
}